<%- include("sub-parts/header") -%>

<main role="main">
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Analysis!</h1>
      <p>Pick your data ,set up algorithms and configurations for your analysis.</p>
    </div>
  </div>

  <div class="container">
    <!-- upload form -->
    <p>
      
    </p>

  </div> <!-- /container -->

</main>

<%- include("sub-parts/footer") -%>
