<%- include("sub-parts/header") -%>

<main role="main">
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Welcome to Data Analysis Cloud!</h1>
      <p>This is a computing cloud which allows you to upload your data, manage your own computing structure and shows all outcomes for you.</p>
      <p>The merit of here is that :</p>
      <p class="home-heightlight">Everything is integrated well and manipulated by simply touching  <a class="btn btn-primary btn-lg" href="/" role="button">buttons</a>  that we design for you.</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Upload data</h2>
        <p>You can upload your own datasets or using data from any public database to prepare for your analysis and experiment. </p>
        <p><a class="btn btn-secondary" href="upload" role="button">Try now &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Manage data</h2>
        <p>You can manage, orgnize the data you have uploaded.</p>
        <p><a class="btn btn-secondary" href="manage" role="button">Try now &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Analysis</h2>
        <p>You can choose methods, algorithms, customized AI system (e.g. Configuration, activation function ... of a Neural Network) to compute and analyze your data by yourself.</p>
        <p><a class="btn btn-secondary" href="analysis" role="button">Try now &raquo;</a></p>
      </div>
    </div>

  </div> <!-- /container -->

</main>



<%- include("sub-parts/footer") -%>
