<%- include("sub-parts/header") -%>

<main role="main">
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Your data dashboard!</h1>
      <p>You can magnage your data here.</p>
    </div>
  </div>

  <div class="container">
    <!-- upload form -->
    <p>
      Not finished yet.
    </p>

  </div> <!-- /container -->

</main>

<%- include("sub-parts/footer") -%>
